# next.js
/.next/
/out/

# deps
/node_modules/

# production
/build

# env
.env
.env.local
.env.*.local

# base de données locale
/data/

# posters TMDb téléchargés
/public/posters/

# debug
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# drizzle studio
drizzle/meta/
