/*

# projet
!README.md
!.gitignore
!CHANGELOG.md
!docs/
!app/
!components/
!public/
!package.json
!package-lock.json
!tsconfig.json
!next.config.ts
!postcss.config.mjs
!drizzle.config.ts
!.github/
!.releaserc.json
!lib/
!eslint.config.mjs
!next-env.d.ts
!vitest.config.ts
!.env.example
